<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coroutine.bod.localkotlin">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModelActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name="test.BackFmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherActivity" />
        <activity android:name=".test.TestAFmActivity" />
        <activity android:name=".test.TestBFmActivity" />
        <activity android:name=".ScTest" />
        <activity android:name=".sc.ScTestClone" />
        <activity android:name=".TestSenceActivity" />
        <activity android:name=".ModelObsViewActivity" />
    </application>

</manifest>